header{
    text-align: center;
}
img{
    height: 350px;
    width: 100%;
}
.row-2, .row-3{
    display: flex;
    gap: 5px;
}
.row-2>div, .row-3>div{
    flex: 1;
}
.row-2-1{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.row-2-1> img{
    height: calc(173px - .5px);
}
.third-row-second-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    /* height: 350px; */
}
.third-row-second-container > div > img{
    height: 170px;
}
@media screen and (max-width: 576px){
    .row-2{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .row-2-1> img{
        height: 350px;
    }
    .row-3{
        display: flex;
        flex-direction: column;
    }
    .third-row-second-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .third-row-second-container > div > img{
        height: 350px;
}
