header{
    text-align: center;
}
img{
    height: 350px;
    width: 100%;
}
.row-2{
    display: flex;
    gap: 5px;
}
.row-2-1{
    height: 350px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
}
.row-2-1> img{
    height: calc(173px - .5px);
}